
.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 50px;
    align-items: center;
}

.prop{
    width: 50px;
    height: 300px;
    background-color: black;
}
button{
    font-size: 28px;
    padding: 8px 15px;
    border-radius: 50px;
    border: none;
    color: #fff;
    background-color: blue;
}
button:nth-child(2){
    background-color: red;
}

.rotate{
    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
